<div class="body">
  <app-side-nav></app-side-nav>

  <div class="admin-container">
    <h1 class="title">Bienvenido, {{ adminName }}</h1>

    <div class="button-row">
      <button class="btn" (click)="openAddUserModal()">Agregar usuario</button>
      <button class="btn secondary" (click)="goToStats()">Ver estadísticas</button>
      <input class="btn" type="text" placeholder="Buscar Usuario..." [(ngModel)]="searchText" (input)="onSearchChange()"/>
    </div>

    <div *ngFor="let user of filteredUsers" class="user-result">

      <div class="user-header">
        <img [src]="user.profileImage || 'https://i.pravatar.cc/80'" alt="Profile" class="profile-img"/>

        <div class="user-mail">
          <h3>{{ user.nombre }} {{ user.apellido }} (@{{ user.username }})</h3>
          <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
      </div>

      <div class="user-info">
        <p><strong>Perfil:</strong> {{ user.perfil }}</p>

        <p class="desc">
          <strong>Descripción:</strong>
          {{ user.descripcion || 'Sin descripción' }}
        </p>
      </div>

      <button class="changeState"(click)="toggleUserState(user)"[estadoColor]="user.activo">
  {{ user.activo ? 'Deshabilitar' : 'Habilitar' }}
</button>

    </div>

  </div>
  <app-chat></app-chat>
</div>
  
<div *ngIf="showAddUserModal" class="modal-backdrop-fixed">
  <div class="modal-content-fixed">

    <h2>Agregar usuario</h2>

    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">

      <div class="input-group">
        <label>Nombre</label>
        <input formControlName="nombre" type="text" placeholder="Nombre" />
      </div>

      <div class="input-group">
        <label>Apellido</label>
        <input formControlName="apellido" type="text" placeholder="Apellido" />
      </div>

      <div class="input-group">
        <label>Username</label>
        <input formControlName="username" type="text" placeholder="Username" />
      </div>

      <div class="input-group">
        <label>Email</label>
        <input formControlName="email" type="email" placeholder="Email" />
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input formControlName="password" type="password" placeholder="Contraseña" />
      </div>

      <div class="input-group">
        <label>Repetir contraseña</label>
        <input formControlName="passwordRepeat" type="password" placeholder="Repetir contraseña" />
      </div>

      <div class="input-group">
        <label>Fecha de nacimiento</label>
        <input type="date" formControlName="fechaNacimiento" />
      </div>

      <div class="radio-group">
        <input type="radio" id="opcion1" formControlName="perfil" value="admin">
        <label for="opcion1">Admin</label><br>

        <input type="radio" id="opcion2" formControlName="perfil" value="usuario">
        <label for="opcion2">Usuario</label><br>
      </div>

      <div class="button-row">
        <button type="submit" class="btn primary">Crear usuario</button>
        <button type="button" class="btn secondary" (click)="closeAddUserModal()">Cancelar</button>
      </div>

    </form>

  </div>
</div>

